[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
pillow = "*"
sphinx-rtd-theme = "*"
sphinx-autobuild = "*"
sphinxcontrib-plantuml = "*"
streamlit = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
jaconv = "*"

[dev-packages]

[requires]
python_version = "3.7"
python_full_version = "3.7.6"
